$bgColor : #afaa8c;
$panelColor: linear-gradient(#ffffff, #6f6f6f);
$topBarCol: #45443c;
$topBarBorCol: 1px solid #000000;
$userPanelCol: linear-gradient(#afaa8c, #2e2d24);

.topBar {
  background-color: $topBarCol;
  border-bottom: $topBarBorCol;
}

.stats-panel {
    background: $panelColor;
}

.user-panel {
  background: $userPanelCol;
  box-shadow: 1px 1px 10px black;     
 }

.dataBlock {
    
    background: $bgColor;
    
        h3 {
        color: #ffffff;
    }
    
    p {
        color: #ffffff;
    }
    
}

.weatherData {
    
    .weather-icon {
        transition: 0.2s all ease;
    }
    
    
    .weatherCol {
        background-color: rgba(8, 57, 46, 0.3);
    }
    
    .weatherCol:hover {
        background-color: #45443c;
        box-shadow: 0px 0px 20px #000000;
    }
    
    
}