$bgColor : #152234;
$panelColor: linear-gradient(#326071, #27334d);
$topBarCol: #252634;
$topBarBorCol: 1px solid yellow;
$userPanelCol: linear-gradient(#1f3867, #04112c);

.topBar {
  background-color: $topBarCol;
  border-bottom: $topBarBorCol;
}
    
.user-panel {
  background: $userPanelCol;
  box-shadow: 1px 1px 10px black;     
 }

.stats-panel {
    background: $panelColor;
}

.dataBlock {
    
    background: $bgColor;
    
        h3 {
        color: #ffffff;
    }
    
    p {
        color: #ffffff;
    }
    
}

.weatherData {
    
    .weather-icon {
        transition: 0.2s all ease;
    }
    
    
    .weatherCol {
        background-color: rgba(8, 57, 46, 0.3);
    }
    
    .weatherCol:hover {
        background-color: rgb(36, 147, 143);
        box-shadow: 0px 0px 20px #00eaff;
    }
    
    
}

//