$transition-animFade : all 0.3s ease;


body {
  margin: 0;
}

.clearfix:after {
    overflow: auto;
    content: "";
    clear: both;
}

p {
    font-family: 'Raleway', sans-serif;
    color: white;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

.city-pop {
    position: relative;
    top: 11vh;
    display: inline-block;
}


.popCanvasContainer {
    position: absolute;
    right: 37.5vw;
    bottom: 10vh;
    height: 15vh;
    width: 20vw;
}

.travelCanvasContainer {
    position: absolute;
    left: 29vw;
    top: 13vh;
    height: 8vh;
    width: 23vw;
}

.topBar {
  height: 10vh;
  background-color: #252634;
  border-bottom: 1px solid yellow;
  p {
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
  }
}

.stats-panel {
  padding: 1vw;
  height: 85.9vh;
  width: 62vw;
  background-color: #444;
  float: left;
}

.location-image {
  padding: 1vw;
  height: 85.9vh;
  width: 32.7vw;
  background-color: #222;
  float: left;
    
    h2 {
        margin: 0;
        text-align: center;
        color: white;
        font-size: 3em;
    }
}


.location-hover {
  position: absolute;
  bottom: 40vh;
  right: -7em;
  width: 150px;
  height: 180px;
  background-color: #991e1e;
  transition: all 0.5s ease;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: right;
}

.location_name-container {}

.location-hover {
  p {
    width: 90%;
    padding: 3px 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  &:hover {
    right: 0em;
  }
  .city-names:hover {
    font-size: 1.1em;
    background-color: #611212;
    width: 100%;
    transition: all 0.2s ease;
  }
}

.stats-block {
    
    p {
        text-align: center;
        display: block;
        font-size: 1.2em;
        margin: 5px 0px;
    }
}



//.block1 {
//  display: inline-block;
////  width: 39.5%;
//  width: 20vw;
//  height: 35%;
//  float: left;
//}
//
//.block2 {
//  display: inline-block;
////  width: 60.3%;
//  width: 39.6vw;
//  height: 35%;
//  float: left;
//}
//
//.block3 {
//  display: inline-block;
////  width: 49.5%;
//  width: 55vw;
//  height: 34%;
//  float: left;
//}
//
//.block4 {
//  display: inline-block;
////  width: 50.3%;
//  width: 29.6vw;
//  height: 34%;
//  float: left;
//}
//
//.block5 {
//  display: inline-block;
////  width: 33%;
//  width: 20vw;
//  height: 29.8%;
//  float: left;
//}
//
//.block6 {
//  display: inline-block;
////  width: 66.8%;
//   width: 39.5vw;
//  height: 29.8%;
//  float: left;
//}

.dataBlock {
    overflow: hidden;
    padding: 1vw;
    margin: 5px;
    background-color: #c9c9c9;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 20px black;
}

.db-type1 {
    width: 18vw;
    height: 24vh;
}

.db-type2 {
    width: 38vw;
    height: 24vh;
}

.db-type3 {
    width: 59vw;
    height: 22vh;
}

.ui-panel-popfx {
  transition: $transition-animFade;
}

.ui-panel-popfx:hover {
  background-color: rgba(117, 212, 117, 0.29);
  transition: $transition-animFade;
}

.weatherData {
    
    .weather-icon {
        float: right;
        margin: 5px;
        width: 60%;
        height: 17vh;
        background-image: url(../images/weather-icons/weatherIcons-01.png);
        background-size: contain;
        background-repeat: no-repeat;
        
    }
    
    h3 {
        float: left;
        margin: 0px 5px;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
    }
    
    p {
        display: inline;
        float: right;
        margin: 0px 5px;
        font-family: 'Raleway', sans-serif;
    }
    
    .weatherCol {
        position: relative;
        float: left;
        display: inline-block;
        width: 12vw;
        height: 24vh;
        margin: 0px 3px;
        border-radius: 5px;
        background-color: rgba(31, 31, 31, 0.82);
        transition: all 0.2s ease;
        
        .weatherCol-icon {
            display: inline-block;
            height: 15vh;
            width: 100%;
            margin: 0;
            background-color: aquamarine;
        }
        
        p {
            float: none;
            text-align: center;
            display: block;
            margin: 7px 5px;
            font-family: 'Raleway', sans-serif;
        }
        
    }
    
    .weatherCol:hover {
        margin: -5px 3px;
        transition: all 0.2s ease;
        background-color: rgba(7, 90, 59, 0.82);
        box-shadow: 0px 0px 20px #00eaff;
    }
    
    
}

