$transition-animFade : all 0.3s ease;


body {
  margin: 0;
}

p {
 font-family: 'Raleway', sans-serif;
    color: white;
}

.city-pop {
    position: relative;
    top: 11vh;
    display: inline-block;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.popCanvasContainer {
    position: absolute;
    left: 3.5vw;
    top: 16vh;
    height: 12vh;
    width: 17vw;
}

.travelCanvasContainer {
    position: absolute;
    left: 29vw;
    top: 13vh;
    height: 8vh;
    width: 23vw;
}

.topBar {
  height: 10vh;
  background-color: #252634;
  border-bottom: 1px solid yellow;
  p {
    text-align: center;
    padding-top: 15px;
    color: white;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
  }
}

.stats-panel {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 60vw;
  background-color: #444;
}

.location-image {
  height: 80vh;
  width: 38.5vw;
  display: inline-block;
  background-color: #222;
  margin: 0;
}

.cityName-panel {
  background-color: #252634;
  border-top: 1px solid yellow;
  margin: 0;
}


.location-hover {
  bottom: 40vh;
  left: -7em;
  position: absolute;
  width: 150px;
  height: 180px;
  background-color: #991e1e;
  transition: all 0.5s ease;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.location_name-container {}

.location-hover {
  p {
    width: 70%;
    padding: 3px 0px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  &:hover {
    left: 0em;
  }
  .city-names:hover {
    font-size: 1.1em;
    background-color: #611212;
    width: 100%;
    transition: all 0.2s ease;
  }
}

.location-title {
  text-align: center;
  margin: 0;
  font-size: 4em;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

.stats-block {
    p {
        text-align: center;
        display: block;
        font-size: 1.2em;
        margin: 5px 0px;
    }
}

.block1 {
  display: inline-block;
  width: 39.5%;
  height: 35%;
  float: left;
}

.block2 {
  display: inline-block;
  width: 60.3%;
  height: 35%;
  float: left;
}

.block3 {
  display: inline-block;
  width: 49.5%;
  height: 35%;
  float: left;
}

.block4 {
  display: inline-block;
  width: 50.3%;
  height: 35%;
  float: left;
}

.block5 {
  display: inline-block;
  width: 33%;
  height: 29.8%;
  float: left;
}

.block6 {
  display: inline-block;
  width: 66.8%;
  height: 29.8%;
  float: left;
}

.ui-panel-popfx {
  transition: $transition-animFade;
}

.ui-panel-popfx:hover {
  background-color: rgba(117, 212, 117, 0.29);
  transition: $transition-animFade;
}

